.colissimo-hook-admin-order .colissimo-order-summary-title {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.colissimo-hook-admin-order img.logo {
    width: 215px;
    display: block;
    margin: 20px auto;
}
